# keys
**/id_rsa
**/id_rsa.pub

# log
**/*.log
**/logs

# vagrant
vagrant/credentials
.vagrant/
**/*.vmdk
**/*.creds

# ansible
**/*.retry

# mac
**/.DS_Store

# vendors
vendor/*
!vendor/vendor.json

build/
