# keys
**/id_rsa
**/id_rsa.pub

# log
**/*.log

# vagrant 
vagrant/credentials
.vagrant/
**/*.vmdk
**/*.creds

# ansible
**/*.retry

# mac
**/.DS_Store

# vendors
vendor/*
!vendor/vendor.json

#logs 
**/logs